<div class="text-center">
  <h1 class="display-4">Спасибо за ваш заказ!</h1>
  <p class="lead">Ваш заказ #<%= @order.id %> успешно оформлен.</p>
  <p>Мы скоро свяжемся с вами для подтверждения деталей.</p>
  <hr>
  <p>
    Возникли вопросы? <a href="#">Свяжитесь с нами</a>.
  </p>
  <%= link_to "Вернуться на главную", root_path, class: "btn btn-primary" %>
</div>
